/* insert css*/
/* Universal CSS */

.quicksand> {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .rubik{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .parkinsans{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

body{

    background-color: #fff7dc;

}

.Welcome{

    text-align: center;

}

h1{

    font-family: "Parkinsans", sans-serif;

}

h2{

    font-family: "Parkinsans", sans-serif;

}

p{

font-family: "Rubik", sans-serif;

}

/* Navigation bar CSS */
.navWrap {
    list-style-type: none;
    background-color: #ffeeb6;
}

.navWrap a.bar {
    display: block;
    padding: 21px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.navWrap a.bar:hover {
    background-color: #ce9f00;
}

.navWrap img{
    padding: 9px;
}

/*Code from W3 schools */

.dropbtn {
    background-color: #ffeeb6;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffeeb6;
    min-width: 124px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition-duration: 0.5s;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ce9f00}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #ce9f00;
  }


     /* End of code from W3 schools*/


/* Joseph's CSS */


.health{

text-align: center;

}

.JMChildren{

    padding: 15px;

}

.healthIntro h3{

font-family: "parkinsans", sans-serif;

}



.health p{

    font-size: 20px;

}

.health .navWrap{

    text-align: left;

}

.JMinfo{

    text-align: left;
    padding-left: 15px;
    padding-right: 15px;

}


.JMinfo ul li{

    font-family: "parkinsans", sans-serif;
    text-align: left;
    font-size: 20px;

}

#JMShowHide{

display: none;

}

.JMH1Content button{

    background-color:#ce9f00;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    border-color:#ce9f00;
    font-weight: bold;
    transition-duration: 0.5s;

}

.JMH1Content button:hover{

    background-color: #ffeeb6;

}

.JMH1Content Button:active{

    background-color: #e3d4a1;

}

.form{

    Padding-top: 15px;
    padding-left: 40%;
    width: 60%;
    float: center;

}

.JMFormSubmit{

    background-color:#ce9f00;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    border-color:#ce9f00;
    font-weight: bold;
    transition-duration: 0.5s;

}

.JMFormSubmit:hover{

    background-color: #ffeeb6;

}

.JMFormSubmit:active{

    background-color: #e3d4a1;

}

.formResults{

    padding: 0;

    text-align:center
}

.formResults #details{

    Color: Red;
}

.formResults #thx{

    Color: rgb(4, 168, 4);
}

.contactUs{

    text-align: center;
    font-family: "parkinsans", sans-serif;

}

.contactUs a:link{

    text-decoration: none;
    text-shadow: 2px 2px 5px white;

}

.RandomisationJM{

    text-align: center;


}

.randombutton{

    background-color:#ce9f00;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    border-color:#ce9f00;
    font-weight: bold;
    transition-duration: 0.5s;

}


.randombutton:hover{

    background-color: #ffeeb6;

}

.randombutton:active{

    background-color: #e3d4a1;

}

.JMAnimContainer{

    height: 100px;
    width: 100%;
    position:absolute;
    overflow: visible;

}

.JMAnimAnimated{

    width: 50px;
    height: 50px;
    position:fixed;
    background-color: #ce9f00;

}

/* Code from W3Schools */

#container {
    width: 100%;
    height: 50px;
    position: relative;
  }
  #animate {
    width: 50px;
    height: 50px;
    position: absolute;
  }

  /* End of code from W3Schools */

  .animGo{

    background-color:#ce9f00;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    border-color:#ce9f00;
    font-weight: bold;
    transition-duration: 0.5s;

}


.animGo:hover{

    background-color: #ffeeb6;

}

.animGo:active{

    background-color: #e3d4a1;

}


/*Yaroslav's CSS */
.sus {
    text-align: center;
}

.sus .navWrap {
    text-align: left;
}

.sus .col-5, .sus .col-12 {
    background-color: #ffeeb6;
    margin: 1% auto;
    cursor: pointer;
    padding: 1%;
}

.sus footer {
    width: 100%;
    background-color: #ce9f00;
    position: fixed;
    padding: 10px;
    bottom: 0;
}

/* Code provied by w3schools to allow modal functions */
.sus .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.sus .modal-content {
    margin: auto;
    width: 80%;
    font-size: 20px;
    padding: 5px;
    background-image: linear-gradient(to bottom right, white, #e3d4a1) ;
}

.sus .close {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Gavin's CSS */
#GL{

    h1{
        text-align:center;
        background-color:#ffeeb6;
    }
    
    p{
        text-align:center;
    }

}

.Gavlist ul{

    text-align:center;
    list-style-type: none;

}
 .gavimg1{
    text-align:center;
 }

.para1forg2{
    text-align:center;
}

.charity{

    width: 50%;
    height: 9%;
}

.link{

    color:#ce9f00;
}

.para1forg3{
    text-align:center;
}

.gavscript1{
    text-align:center;
}

.gavran{
    text-align:center;
}

.gavform{
    text-align:center;
}

.resp{
    text-align:center;

}