/* insert css*/
/* Universal CSS */

.quicksand> {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .rubik{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .parkinsans{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

body{

    background-color: #fff7dc;

}

.Welcome{

    text-align: center;

}

h1{

    font-family: "Parkinsans", sans-serif;

}

h2{

    font-family: "Parkinsans", sans-serif;

}

p{

font-family: "Rubik", sans-serif;

}

/* Navigation bar CSS */
.navWrap {
    list-style-type: none;
    background-color: #ffeeb6;
}

.navWrap a.bar {
    display: block;
    padding: 21px;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.navWrap a.bar:hover {
    background-color: #ce9f00;
}

.navWrap img{
    padding: 9px;
}

/*Code from W3 schools */

.dropbtn {
    background-color: #ffeeb6;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffeeb6;
    min-width: 124px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ce9f00}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #ce9f00;
  }


     /* End of code from W3 schools*/


/* Joseph's CSS */


.health{

text-align: center;

}

.healthIntro h3{

font-family: "parkinsans", sans-serif;

}



.health p{

    font-size: 20px;

}

.health .navWrap{

    text-align: left;

}

.JMinfo{

    text-align: left;
    padding-left: 15px;
    padding-right: 15px;

}

/*Yaroslav's CSS */

.sus {
    text-align: center;
}





/* Gavin's CSS */
#GL{

    h1{
        text-align:center;
        background-color:#ffeeb6;
    }
    
    p{
        text-align:center;
    }

}

.Gavlist ul{

    text-align:center;
    list-style-type: none;

}
 .gavimg1{
    text-align:center;
 }

.para1forg2{
    text-align:center;
}

.charity{

    width: 50%;
    height: 9%;
}

.link{

    color:#ce9f00;
}

.para1forg3{
    text-align:center;
}

.gavscript1{
    text-align:center;
}